# 공유 자전거 수요 예측 (11.30 고지혜)

In [213]:
# 기본 라이브러리
import numpy as np
import pandas as pd

# 시각화 라이브러리
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
sns.set_style('darkgrid')

In [214]:
# train.csv 파일 읽어오기
train_org = pd.read_csv('bike_train.csv', encoding = 'cp949')
train = train_org.copy()
print(train.shape)
train_org.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [215]:
# test 데이터 불러오기
test_org = pd.read_csv('bike_test.csv', encoding = 'cp949')
test = test_org.copy()
print(test.shape)
test_org.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [216]:
from sklearn.preprocessing import MinMaxScaler

# 전처리 함수
def preprocess(df, is_it_train):
    # 날짜 변환
    df['datetime'] = pd.to_datetime(df['datetime'])
    df['year'] = df['datetime'].dt.year
    df['month'] = df['datetime'].dt.month
    df['hour'] = df['datetime'].dt.hour
    df['dayofweek'] = df['datetime'].dt.dayofweek
    
    # weather 대체해줌.
    df['weather'].replace({4 : 3}, inplace = True)
    
    # 풍속 처리
    df['windspeed'].replace({0 : np.nan}, inplace = True)
    df['windspeed'].fillna(df.groupby(['weather', 'season'])['windspeed'].transform('mean'), inplace = True)
    
    ## datetime 인덱싱
    df.set_index(df['datetime'], drop = True, inplace = True) # ...? 왜 datetime 안없어지지..? 일단 drop으로 지워주기...
    df.drop('datetime', axis = 1, inplace = True)
    
    ## 만약 train 데이터라면 count를 log 처리 해줌 + test 데이터에 없는 컬럼 제거
    if is_it_train :
        df['log_count'] = np.log1p(df['count'])
        df.drop(['count','casual','registered'], axis = 1, inplace = True)
        
    # 데이터프레임 반환
    return df

<b>이해를 돕기 위한 예시</b> 

preprocess라는 함수를 `틀`이라고 생각하시면 편합니다. train 또는 test가 들어와서 이 `틀`을 거치면 동일한 처리를 거치게 해서 만들어주는 것입니다.

In [217]:
# 위에서 만든 함수를 사용해 전처리함. 이때 train이라면 Is it train = True로 선언하여 count를 log로 변환해준다.
train = preprocess(train, is_it_train = True)
train.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,hour,dayofweek,log_count
datetime,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,17.191688,2011,1,0,5,2.833213
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,17.191688,2011,1,1,5,3.713572
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,17.191688,2011,1,2,5,3.496508
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,17.191688,2011,1,3,5,2.639057
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,17.191688,2011,1,4,5,0.693147

In [218]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10886 entries, 2011-01-01 00:00:00 to 2012-12-19 23:00:00
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  float64
 8   year        10886 non-null  int64
 9   month       10886 non-null  int64
 10  hour        10886 non-null  int64
 11  dayofweek   10886 non-null  int64
 12  log_count   10886 non-null  float64
dtypes: float64(4), int64(9)
memory usage: 1.2 MB

In [219]:
# 마찬가지로 위에서 만든 함수를 사용한다. 하지만 test 데이터셋이므로 Is it train은 False로 처리해주자
test = preprocess(test, is_it_train = False)
test.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,year,month,hour,dayofweek
datetime,,,,,,,,,,,,
2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.002700,2011,1,0,3
2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,16.320835,2011,1,1,3
2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,16.320835,2011,1,2,3
2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.001400,2011,1,3,3
2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.001400,2011,1,4,3

In [220]:
# 파생변수 및 더미 변수를 생성하는 함수
def encorder(df):
    # 비가 내린 날
    df['rainyday'] = pd.get_dummies(df['weather'], prefix='w').drop(['w_1','w_2'], axis=1)
    # 자전거 타기 좋은 날
    df['ideal'] = df[['temp', 'windspeed']].apply(lambda x: (0, 1)[15 <= x['temp'] <= 22  and x['windspeed'] < 30], axis = 1)
    # 자전거 타기 별로인 날
    df['sticky'] = df[['humidity', 'temp']].apply(lambda x: (0, 1)[x['temp'] >= 30 and x['humidity'] >= 60], axis = 1)
    # 사람 많이 타는 날
    df['peak'] = df[['hour', 'workingday']].apply(lambda x: [0, 1][(x['workingday'] == 1 and  ( x['hour'] == 8 or 17 <= x['hour'] <= 18 or 12 <= x['hour'] <= 13)) or (x['workingday'] == 0 and  10 <= x['hour'] <= 19)], axis = 1)
    ## 실제 온도와 체감 온도 차이
    df['temp(difference)'] = round(df['temp'] - df['atemp'], 2)
    ## 불쾌지수 변수 생성
    df['discomfort_index'] = round(1.8*df['temp'] - 0.55*(1-df['humidity']/100)*(1.8*df['temp'] - 26) + 32, 2) 
    
    ## 연속형 변수들 스케일링 해주기
    sc_col = ['temp', 'atemp', 'windspeed', 'temp(difference)', 'discomfort_index', 'humidity']
    scaler = MinMaxScaler()
    for i in sc_col :
        df[i] = scaler.fit_transform(df[[i]])
    
    # 더미 변수들 생성
    ob_col = ['hour', 'year', 'dayofweek', 'season', 'month']
    for i in ob_col :
        dummies = pd.get_dummies(df[i], prefix = i)
        
        ## 기준점 컬럼 하나씩 drop
        if i == 'year' :
            df = pd.concat([df, dummies.iloc[:,1]], axis=1)
       
        elif i == 'hour':
            df = pd.concat([df, dummies], axis=1)
        # 파생변수 생성
            for idx, name in enumerate(dummies):
                df['hw_'+str(idx)] = dummies[name] * df['workingday']
            df.drop(['hour_4','hw_4'], axis = 1, inplace = True)
            
        else :
            dummies.drop([i+str('_1')], axis = 1, inplace = True)
            df = pd.concat([df, dummies], axis=1)

    
    ## 불필요한 기존 year, temp, season, dayofweek, hour, month, weather 컬럼 drop
    df.drop(['temp', 'year', 'season', 'dayofweek', 'hour', 'month', 'weather'], axis = 1, inplace = True)
    
    
    return df

[enumerate에 대한 설명](https://wikidocs.net/16045)

In [221]:
# 각 데이터셋에 encorder 함수 적용
train = encorder(train)
test = encorder(test)

In [222]:
train.columns

Index(['holiday', 'workingday', 'atemp', 'humidity', 'windspeed', 'log_count',
       'rainyday', 'ideal', 'sticky', 'peak', 'temp(difference)',
       'discomfort_index', 'hour_0', 'hour_1', 'hour_2', 'hour_3', 'hour_5',
       'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12',
       'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18',
       'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23', 'hw_0', 'hw_1',
       'hw_2', 'hw_3', 'hw_5', 'hw_6', 'hw_7', 'hw_8', 'hw_9', 'hw_10',
       'hw_11', 'hw_12', 'hw_13', 'hw_14', 'hw_15', 'hw_16', 'hw_17', 'hw_18',
       'hw_19', 'hw_20', 'hw_21', 'hw_22', 'hw_23', 'year_2012', 'dayofweek_0',
       'dayofweek_2', 'dayofweek_3', 'dayofweek_4', 'dayofweek_5',
       'dayofweek_6', 'season_2', 'season_3', 'season_4', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12'],
      dtype='object')

In [223]:
train.head()

,holiday,workingday,atemp,humidity,windspeed,log_count,rainyday,ideal,sticky,peak,...,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
datetime,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,0.305068,0.81,0.219409,2.833213,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,0,0,0.288064,0.80,0.219409,3.713572,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 02:00:00,0,0,0.288064,0.80,0.219409,3.496508,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 03:00:00,0,0,0.305068,0.75,0.219409,2.639057,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 04:00:00,0,0,0.305068,0.75,0.219409,0.693147,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
# csv 파일로 생성해줌.
train.to_csv('prepro_train.csv', index = True)
test.to_csv('prepro_test.csv', index = True)